/* General Elements/Stylization */
body {
    font-family: 'Roboto';
    margin: 0;
}

a {
    text-decoration: none;
}

.main {
    margin-left: 10%;
    margin-right: 10%;
}


/* Headers */

.section-1 {
    background-color: #1F2937;
    color: white;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Header */
.header {
    padding-bottom: 72px;
    padding-top: 14px;
    display: flex;
}

.header-links {
    margin-left: auto;
    display: flex;
    gap: 24px;
}

.header-link {
    color: white;
}

.header-image {
    border: 0;
}

/* Hero elements under section 1*/

.hero {
    display: flex;
    justify-content: center;
    gap: 48px;
}


.header-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.header-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-secondary {
    padding-bottom: 12px;
}

.header-logo {
    font-size: 24px;
    color:#F9FAF8;
}

button {
    background-color: #3882F6;
    border: 2px solid white;
    padding: 6px 24px;
}

/* Section 2 */

.content-sec2 {
    padding-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.header-sec2 {
    display: flex;
    justify-content: center;
}

.images-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

img {
    border: 4px solid blue;
}

/* Quotes */

.section-3 {
    background: #E5E7EB;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
}

/* Call to action segment */
.action-container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.action {
    background-color: #3882F6;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Footer elements */
.footer-container {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
}

.header {
    
}