/* General Elements/Stylization */
body {
    font-family: 'Roboto';

}

a {
    text-decoration: none;
}



/* Headers */

.section-1 {
    background-color: #1F2937;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Header */
.header {
    padding: 15px;
    display: flex;
}

.header-links {
    margin-left: auto;
    display: flex;
    gap: 24px;
}

.header-link {
    color: white;
}

/* Hero elements under section 1*/

.hero {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.header-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.header-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    color:#F9FAF8;
}

button, .action {
    background-color: #3882F6;
}

/* Section 2 */

.content-sec2 {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.header-sec2 {
    display: flex;
    justify-content: center;
}

.images-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}


/* Quotes */

.section-3 {
    background: #E5E7EB;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
}

/* Call to action segment */
.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer elements */
.footer {
    background-color: #1F2937;
    color: white;
}

.header {
    
}